/*********/
/* FONTS */
/*********/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


/********************/
/* GENERAL ELEMENTS */
/********************/

:root {
    --Roboto: 'Roboto', sans-serif;
    --RobotoMono: 'Roboto Mono', monospace;

    --DarkBlue: #2B2C43;
    --LightBlue: #05B7F2;
    --Grey: #8D99AE;
    --White: #EDF2F4;

    --LargeScreenMin: 1025px;
    --LaptopsMin: 869px;
    --TabletsMin: 481px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--MainFont);
    line-height: 1.6;
}

section {
    padding: 80px 0;
}

h1 {
    font-family: var(--Roboto);
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: var(--RobotoMono);
    font-size: 40px;
    font-weight: 400;
    color: var(--LightBlue);
    margin-bottom: 35px;
}

h4 {
    font-family: var(--RobotoMono);
    font-size: 30px;
    font-weight: 400;
    color: var(--LightBlue);
    margin-bottom: 35px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

svg {
    fill: var(--White);
    transition: fill 200ms ease-in-out;
}

svg:hover {
    fill: var(--LightBlue);
}

p {
    font-family: var(--Roboto);
    font-weight: 300;
}


/*************************/
/* GENERAL MEDIA QUERIES */
/*************************/

@media screen and (min-width: 869px) {
    .hide-for-desktop {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 868px) {
    .hide-for-tablet {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .hide-for-desktop-and-tablet {
        display: none;
    }
}

@media screen and (max-width: 868px) {
    .hide-for-tablet-and-mobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .hide-for-mobile {
        display: none;
    }
}


/*******************/
/* GENERAL CLASSES */
/*******************/

.container {
    max-width: 1025px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100vw;
    }
}

.item-headline {
    color: var(--White);
    font-family: var(--RobotoMono);
    font-size: 25px;
    font-weight: 700;
}

.item-description {
    color: var(--Grey);
    font-family: var(--RobotoMono);
    font-size: 25px;
    font-weight: 400;
}

.grey-image {
    filter: grayscale(90%);
    box-shadow: 10px 10px 10px var(--Grey);
    transition: filter 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
}

.grey-image:hover {
    filter: grayscale(10%);
    box-shadow: 15px 15px 10px var(--Grey);
}

.grey-image-png {
    filter: grayscale(90%) drop-shadow(10px 10px 10px black); 
    transition: filter 200ms ease-in-out;
}

.grey-image-png:hover {
    filter: grayscale(10%) drop-shadow(15px 15px 10px black);
}

details {
    color: var(--Grey);
    font-size: 20px;
    font-family: var(--Roboto);
    font-weight: 400;
}

details summary {
    font-family: var(--Roboto);
    color: var(--Grey);
    font-size: 20px;
    font-weight: 400;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details summary:hover {
    cursor: pointer;
    color: var(--LightBlue);
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid var(--Grey);
    margin-bottom: .5em;
}


/*******/
/* NAV */
/*******/

nav {
    background-color: var(--DarkBlue);
    width: 100%;
    height: 50px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center-links {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav hr {
    width: calc((100% - 600px) / 2);
    color: var(--Grey);
}

nav a {
    font-family: var(--RobotoMono);
    color: var(--Grey);
}

nav a:hover {
    color: var(--LightBlue);
    transition: color 200ms ease-in-out;
}

nav img {
    height: 20px;
}

#resume {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--LightBlue);
    transition: background-color 200ms ease-in-out;
}

#resume:hover {
    background-color: var(--White);
}

#about-link {
    padding: 5px 10px;
}

@media screen and (min-width: 481px) and (max-width: 868px) {
    nav {
        justify-content: center;
        padding: 0px;
    }

    #center-links {
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px) {
    nav {
        padding: 0 30px;
    }

    #center-links {
        width: 100%;
        justify-content: space-between;
    }
}


/********/
/* HERO */
/********/

#hero {
    padding: 0 10px 10vh 10px;
    height: calc(100vh - 50px);
    background-color: var(--DarkBlue);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 100%;
}

#hero-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#hero h1, h2 {
    color: var(--White);
}

#hero hr {
    width: 50%;
}

@media screen and (max-width: 480px) {
    #hero hr {
        width: 80%;
    }
}

/*********/
/* ABOUT */
/*********/

#about {
    background-color: var(--White);
}

#about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-content a {
    width: 30%;
}

#about-content img {
    margin-bottom: 20px;
}

#about-content p {
    width: 60%;
    color: var(--DarkBlue);
    font-size: 25px;
}

#about span {
    color: var(--LightBlue);
    font-weight: 400;
}

@media screen and (max-width: 868px) {
    #about-content {
        flex-direction: column;
    }

    #about-content p {
        width: 100%;
        margin-bottom: 40px;
    }

    #about-content a {
        width: 90%;
    }
}

/**************/
/* EXPERIENCE */
/**************/

#experience {
    background-color: var(--DarkBlue);
}

#experience hr {
    color: var(--Grey);
    margin-bottom: 80px;
}

.experience-item {
    margin-bottom: 80px;
}

.experience-item-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.experience-item-text {
    width: calc(100% - 280px);
}

.experience-item-overview a {
    width: 250px;
    text-align: center;
}

.experience-details-expanded {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.experience-details ol {
    margin-left: 20px;
}

.experience-details img {
    width: 400px;
    filter: drop-shadow(10px 10px 10px black);
}

@media screen and (max-width: 868px) {
    .experience-item-overview {
        flex-direction: column-reverse;
        height: auto;
    }

    .experience-item-overview a {
        margin-bottom: 30px;
    }

    .experience-item-text {
        width: 100%;
        text-align: center;
    }

    details summary {
        text-align: center;
    }

    .experience-details-expanded {
        flex-direction: column;
        align-items: center;
    }

    .experience-details img {
        width: 100%;
    }
}


/************/
/* PROJECTS */
/************/

#projects {
    background-color: var(--White);
}

.project-item, .project-item-reverse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
}

#projects .item-headline {
    color: var(--DarkBlue);
}

.project-text-right {
    width: calc(100% - 420px);
    text-align: right;
}

.project-text-left {
    width: calc(100% - 420px);
    text-align: left;
}

.project-image {
    width: 400px;
    filter: drop-shadow(10px 10px 10px black); 
}

#projects svg {
    fill: var(--DarkBlue);
}

#projects svg:hover {
    fill: var(--LightBlue);
}

@media screen and (max-width: 868px) {
    .project-item {
        flex-direction: column;
        align-items: center;
    }

    .project-item-reverse {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-text-right, .project-text-left {
        width: auto;
        text-align: center;
    }

    .project-image {
        width: 90%; 
    }   
}

/***********/
/* CONTACT */
/***********/

#contact {
    background-color: var(--DarkBlue);
}

#contact p {
    text-align: center;
    color: var(--White);
    font-size: 25px;
    font-family: var(--Roboto);
    margin-bottom: 40px;
}

#social-media-links {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-media-links a {
    padding: 0 20px;
}

/**********/
/* FOOTER */
/**********/

footer {
    background-color: var(--DarkBlue);
    padding-bottom: 40px;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-flex p {
    text-align: center;
    color: var(--White);
    font-size: 20px;
    font-family: var(--Roboto);
}

.footer-flex a {
    margin-left: 20px;
}

.footer-flex img {
    margin-left: 20px;
    height: 45px;
}
